.onboarding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.circle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 20px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
}

.circle.active {
    background-color: #007bff;
}

.line {
    width: 20%;
    height: 2px;
    background-color: #ccc;
}

.line.active {
    background-color: #007bff;
}

.content-container {
    width: 85%;
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 24px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    /* Remove this line to prevent scrollbars */
    flex-wrap: wrap;
    /* Add this line to allow content to wrap within the container */
}

.page-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Add this line to enable scrolling within the container */
}
.continue-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}